/*** Start css of #_lp_block_32773901[data-block-layout='6651']  ***/

#_lp_block_32773901[data-block-layout='6651']  {
	padding-top: 31px;
	padding-bottom: 31px;
}

/*** End css of #_lp_block_32773901[data-block-layout='6651']  ***/
/*** Start css of #_lp_block_32774101[data-block-layout='97251']  ***/

#_lp_block_32774101[data-block-layout='97251']  {
	padding-top: 27px;
	padding-bottom: 27px;
}

/*** End css of #_lp_block_32774101[data-block-layout='97251']  ***//*** Start css of #_lp_block_32774501[data-block-layout='6651']  ***/

#_lp_block_32774501[data-block-layout='6651']  {
	padding-top: 27px;
	padding-bottom: 27px;
}

/*** End css of #_lp_block_32774501[data-block-layout='6651']  ***/