/*** Start css of #_lp_block_32732101[data-block-layout='6651']  ***/

#_lp_block_32732101[data-block-layout='6651']  {
	padding-top: 27px;
	padding-bottom: 27px;
}

/*** End css of #_lp_block_32732101[data-block-layout='6651']  ***/
/*** Start css of #_lp_block_32732301[data-block-layout='97251']  ***/

#_lp_block_32732301[data-block-layout='97251']  {
	padding-top: 25px;
	padding-bottom: 25px;
}

/*** End css of #_lp_block_32732301[data-block-layout='97251']  ***//*** Start css of #_lp_block_32732901[data-block-layout='6651']  ***/

#_lp_block_32732901[data-block-layout='6651']  {
	padding-top: 23px;
	padding-bottom: 23px;
}

/*** End css of #_lp_block_32732901[data-block-layout='6651']  ***/
/*** Start css of #_lp_block_32732901[data-block-layout='6651'] .lpc-elements-2__text ***/

#_lp_block_32732901[data-block-layout='6651'] .lpc-elements-2__text {
	color: rgba(70,70,70,0.7);
	font-size: 20px;
	text-align: left;
	text-align-last: left;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

/*** End css of #_lp_block_32732901[data-block-layout='6651'] .lpc-elements-2__text ***/