/*** Start css of #_lp_block_32706501[data-block-layout='97251'] .lpc-text-9__text ***/

#_lp_block_32706501[data-block-layout='97251'] .lpc-text-9__text {
	color: rgba(70,70,70,0.7);
	font-size: 20px;
	text-align: left;
	text-align-last: left;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: Arial, Helvetica, sans-serif;
}

/*** End css of #_lp_block_32706501[data-block-layout='97251'] .lpc-text-9__text ***/