
:root {
	--color-ipo2jphqj: 253, 100, 36;
	--color-ixq7gyagt: 253, 100, 36;
	--color-ittgs96lg: 253, 100, 36;
	--color-il50vdoh4: 253, 100, 36;
	--color-itpn6cfs6: 253, 100, 36;
	--color-i7ab3qsz1: 253, 100, 36;
	--color-ic1bfyhve: 253, 100, 36;
	--color-iwpdruhah: 253, 100, 36;
	--color-ikwqa6wbz: 253, 100, 36;
	--color-i55ht2gg8: 253, 100, 36;
	--color-iar78g61c: 253, 100, 36;
	--color-is46hw0rg: 253, 100, 36;
	--color-idtocyada: 253, 100, 36;
	--color-i9268l1dv: 253, 100, 36;
	--color-ifs7kddfw: 253, 100, 36;
	--color-i83l335qs: 253, 100, 36;
	--color-iusmmujvq: 253, 100, 36;
	--color-ipbaykw82: 253, 100, 36;
	--color-ikrjvtznm: 245, 245, 245;
	--color-ipirt1tl5: 245, 245, 245;
	--color-ialid5e4q: 245, 245, 245;
	--color-ic0jp46e2: 255, 124, 69;
	--color-irsf2brfs: 255, 124, 69;
	--color-irdmpibkn: 255, 124, 69;
	--color-ip7rokhw6: 255, 124, 69;
	--color-ilez3pum7: 255, 88, 19;
	--color-ircoqikd2: 255, 88, 19;
	--color-iaj2z5pad: 255, 88, 19;
	--color-isrhnsyhi: 255, 88, 19;
	--color-i3jp7iiz0: 255, 88, 19;
}
