
:root {
	--color-i3241cffk: 253, 100, 36;
	--color-i6cz9vsee: 253, 100, 36;
	--color-i26gzc0lm: 253, 100, 36;
	--color-ipo2jphqj: 253, 100, 36;
	--color-ixq7gyagt: 253, 100, 36;
	--color-ittgs96lg: 253, 100, 36;
	--color-il50vdoh4: 253, 100, 36;
	--color-itpn6cfs6: 253, 100, 36;
	--color-i7ab3qsz1: 253, 100, 36;
	--color-ic1bfyhve: 253, 100, 36;
	--color-iwpdruhah: 253, 100, 36;
	--color-ikwqa6wbz: 253, 100, 36;
	--color-i55ht2gg8: 253, 100, 36;
	--color-iar78g61c: 253, 100, 36;
	--color-is46hw0rg: 253, 100, 36;
	--color-idtocyada: 253, 100, 36;
	--color-ifcz6whzw: 253, 100, 36;
	--color-iudl2jn62: 253, 100, 36;
	--color-i0gzka1ns: 253, 100, 36;
	--color-ir751abiz: 253, 100, 36;
	--color-i9268l1dv: 253, 100, 36;
	--color-ifs7kddfw: 253, 100, 36;
	--color-i83l335qs: 253, 100, 36;
	--color-iusmmujvq: 253, 100, 36;
	--color-ipbaykw82: 253, 100, 36;
	--color-iqqr5bnbk: 253, 100, 36;
	--color-ikrjvtznm: 245, 245, 245;
	--color-ipirt1tl5: 245, 245, 245;
	--color-ialid5e4q: 245, 245, 245;
	--color-ilvb2drf6: 245, 245, 245;
	--color-itmfidxjz: 245, 245, 245;
	--color-iydhniu09: 245, 245, 245;
	--color-irh3c8rpm: 245, 245, 245;
	--color-ihdc7k1rh: 18, 43, 102;
	--color-ip3xalhny: 18, 43, 102;
	--color-i7i1zt9dt: 18, 43, 102;
	--color-ik1o10qjc: 18, 43, 102;
	--color-iptjtucgb: 18, 43, 102;
	--color-ihmdmzt4i: 18, 43, 102;
	--color-iffxee104: 18, 43, 102;
	--color-i6rm4w3rh: 18, 43, 102;
	--color-ig73l2yfq: 255, 124, 69;
	--color-i539bcx96: 255, 124, 69;
	--color-ic0jp46e2: 255, 124, 69;
	--color-irsf2brfs: 255, 124, 69;
	--color-irdmpibkn: 255, 124, 69;
	--color-i9la5c9nx: 255, 124, 69;
	--color-ip7rokhw6: 255, 124, 69;
	--color-i5zidvkv6: 255, 88, 19;
	--color-ibbvk2lne: 255, 88, 19;
	--color-iars3dd74: 255, 88, 19;
	--color-i5k61rkbi: 255, 88, 19;
	--color-iv28ys0ki: 255, 88, 19;
	--color-ilez3pum7: 255, 88, 19;
	--color-ircoqikd2: 255, 88, 19;
	--color-iaj2z5pad: 255, 88, 19;
	--color-isrhnsyhi: 255, 88, 19;
	--color-i46yx3d12: 255, 88, 19;
	--color-izddwzemj: 255, 88, 19;
	--color-i3jp7iiz0: 255, 88, 19;
}
